@import "body";
@import "fonts";
@import "visually-hidden";
@import "normalize";
@import "general";
@import "all-blocks/all-blocks";
@import "varriables";
@import "section/all-section";
@import "Responsive/all-responsive";

.firstSection{
    width: 100%;
    height: max-content;
    background-image: url(../assets/s1-bg.jpg);
    background-size: contain;
}