@import "body";
@import "fonts";
@import "visually-hidden";
@import "all-blocks/all-blocks";
@import "varriables";
@import "section/all-section";

.firstSection{
    width: 100%;
    height: max-content;
    background-image: url(../assets/s1-bg.jpg);
}
.bold-jh{
    font-weight: bold;
}
.pad_tl{
    padding-top: 100px;
    padding-left: 100px;
}