.firstSection{
    width: 100%;
    height: max-content;
    background-image: url(../assets/s1-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.bold-jh{
    font-weight: bold;
}
.pad_tl{
    padding-top: 250px;
    padding-left: 150px;
    padding-bottom: 200px;
}